body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimSun, sans-serif;
    padding: 0;
    margin: 0;
    color: white;
}

a {
    text-decoration: none;
    color:white;
}
b {
    text-decoration: none;
    color:red;
    size: 24;
}

h1 {
    text-align: center;
}

table{
    text-align: center;
    font-weight: bold;
}

p{
    text-indent: 20px;
}

h3{
    background-color: #05cdff;
    color: white;
    line-height: 30px;
    padding-left:10px;
}

.dt {
    text-align: center;
}
.dtt{
    width: 70px;
    height:30px;
    text-align: center;
    background-color:  #05cdff;
    transition:width 2s, height 2s;
}
.dtt:hover{
    width:70px;
    height:30px;
    background-color: red;
}

.dttt{
    color:red;
    line-height: 30px;
    padding-left:10px;
    position: fixed;
}

.dtttt{
    width:200px;
    height:20px;
    position:relative;
    animation:myfirst 6s;
}
@keyframes myfirst{
    0%   {background:white; left:0px; top:0px;}
    50%  {background:rgb(255, 0, 0); left:200px; top:0px;}
    100% {background:white; left:0px; top:0px;}
}
.container {
    width: 800px;
    margin: 0 auto;
    padding: 10px 20px;
    margin-top: 0;  
    background-image: url("123.jpg")
}

@media(max-width:880px){
    .container{
        width: 100%;
    }
    .h1{
        padding-left:10px;
    }
    .dt{
        text-align: left;
    }
}